bin/
source/img/DataMaster_svg.svg
data/garvin.dat
data/
data/*
*.pyc
source/dist/
source/build/
source/Garvin.spec
Garvin.spec
geany_run_script*
source/geany_run_script*
source/kasbank/img/
*.html
*.odt
*.pdf
*.docx
*.ods
*.so
*.o
*.dll
*.fuse*
*.spec
*.7z
*.grvz
mysql/
source/installer/
